<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV">
    </div>
</header>
<div class="row">
	<% @projets.each do |p|%>
		  <div class="col-sm-6">
		    <div class="card">
		    	
		      <div class="card-body">
		        <h5 class="card-title"><%= p.nom_du_projet %></h5>
		        <p class="card-text"><%= raw p.objectif_generale_du_projet.truncate(100) %></p>
		    	
		        <a href="<%= super_admin_projet_path(p.id)%>" class="btn btn-primary">Voir</a>
		      </div>
		    </div>
		  </div>
	<%end%>
</div>