
<%= form_tag url_for(action: 'create'),method:'post', class:'form', multipart: true do%>

	<div class="container sans-head " style="margin-left: 30%">
		<h3>Creation d'un nouveau publication</h3><br>
		<div class=" row mb-2">
			<div class="col-md-4 ">
				<div>
					<label for="nom" class="mr-2 table">Titre </label>
				</div>
				<input type="text" name="title" id="nom" placeholder="title" class="form-control" required="true">
			</div>
		</div>
		<div class=" row mb-2">
			<div class="col-md-4">
				<div>
					<label for="nom" class="mr-2 table">Description </label>
				</div>
				<textarea name="description" id="nom" placeholder="description" rows="10" class="form-control" required="true"></textarea>
			</div>
		</div>
			<div class="container mb-2 mt-4">
			<span class="mr-2 table">Documents de publication :</span>
			<p><%= file_field_tag :files, name:"files[]", required: true, multiple: true%></p> <br>
			<p><input type="submit" name="cree" value="Publier" class="sc-eerKOB cfnPHQ"></p>

		</div>	
	</div>


<%end%>