<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<i>Cet email a été envoyé automatiquement, veuillez ne pas y répondre. </i>

	<h3>Bonjour, </h3>
  <p>Un visiteur viens de créé un compte sur la plateforme que vous pourriez consulter en cliquant sur le lien suivant:</p>
	<p><a href="https://plateforme-spi.mg/super_admin/users">https://plateforme-spi.mg/super_admin/users</a></p>


</body>
</html>