<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Bonjour, </p>
	<p>
		Le projet que vous avez soumis sur la Plateforme de Coordination des Bailleurs pour le Secteur-Privé, la Finance, et l'Industrie Extractive a bien été validé.
		Nous vous remercions de l’avoir renseigné.
	</p>

	<p>« Accéder à la fiche projet » <a href="<%= @url %>">Voir</a></p>
	<p>L'équipe</p>
	</p>
</body>
</html>