<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Cet email a été envoyé automatiquement, veuillez ne pas y répondre.</p>

	<p>Bonjour, </p>
	<p>
		Votre Fiche Projet « <%=  @project.nom_du_projet%> » a bien été validée.
		Vous pouvez la consulter, la modifier ou la supprimer en vous connectant à votre compte et en cliquant <a href="<%= @url %>">ici</a></p>
	</p>

	<p>L'équipe</p>
	</p>
</body>
</html>