<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<i>Cet email a été envoyé automatiquement, veuillez ne pas y répondre. </i>
	<p>Bonjour, </p>
	<p>
		Votre Fiche Projet « <%=  @project.nom_du_projet%> » a été rejetée.
		Pour d’éventuels compléments d’informations, veuillez contacter l’administrateur à <a href="mailto:hraveloson@worldbank.org">hraveloson@worldbank.org</a>
	</p>
	<p>L'équipe</p>
	</p>
</body>
</html>