<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Bonjour, </p>
	<p>
		Votre Fiche Projet « <%=  @project.nom_du_projet%> » a été rejetée.
		Pour d’éventuels compléments d’informations, veuillez contacter l’administrateur à <a href="<%= @admin%>">Mirenty</a>
	</p>

	<p>L'équipe</p>
	</p>
</body>
</html>