<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>Bonjour, </h3>
	<p>Votre compte à la Plateforme de Coordination des Bailleurs pour le Secteur-Privé, la Finance, et l'Industrie Extractive a bien été validé.</p>
	<p>Nous vous remercions pour votre inscription. En vous connectant, vous pouvez :</p>
	<ul>
		<li>Consulter et télécharger les fiches projets et les publications ;</li>
		<li>Créer des projets ;</li>
		<li>Partager des documents (études, rapports, …) ;</li>
		<li>Accéder aux coordonnées des bailleurs membres de la Plateforme.</li>
	</ul>
	<p>“Accéder à votre compte” <a href="<%= @url %>">Connexion</a> .</p>
</body>
</html>