
<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV">
      
    </div>
</header><br>

<div class=" container d-flex flex-wrap">
			<% @pubs.each do |p|%>
				<div class="col-sm-6 mb-3">
					<div class="card">
						<div class="card-body">
						<h5 class="card-title"><%= p.title %></h5>
						<p class="card-text"><%= p.description %></p>
						<%if p.files.attached?%>
				            <%p.files.each do|file|%> 
					            <p><%= link_to "TELECHARGER", rails_blob_path(file, disposition: "attachement"), class: "attr" %></p>
					         <%end%>
				   		<%end%>
						</div>
					</div>
				</div>
			<%end%>
	</div>