
<div class="container sans-head">
	<div class="row">
		<% @pubs.each do |p|%>
			<div class="col-md-4 card" style="margin: 2%;">
				
				<div class="card-body">
					 	 	<div class="card-title">
						    <h5 ><%= p.title %></h5>
						    </div>
						<div class="card-text">
							<p class="card-text"><%= p.description %></p>
						</div>
						    <a href="<%= publication_path(p.id)%>" class="btn btn-primary">VOIR</a>
				</div>
			</div>
      <%end%>
	</div>
</div>

