
<div class="row">
		<% @pubs.each do |p|%>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= p.title %></h5>
        <p class="card-text"><%= p.description %></p>
        <a href="<%= publication_path(p.id)%>" class="btn btn-primary">VOIR</a>
      </div>
    </div>
  </div>
  <%end%>
</div>