<!--   <%= form_tag #url_for(action: "update"), method: "put" do |f| %>
          <h2 class="form-title">Editez votre profil</h2>
                <div class="form-group">
                    <div class="form-group">
                          <%= text_field_tag# 'email', current_user.email, class: 'form-control', :class=>'form-input'%>
                      <center>
                      <%= link_to #{}"Accueil", root_path , class: "btn btn-sm btn-secondary"%>
        
                       <%= submit_tag #{}"Modifier le profil", class: 'btn btn-sm btn-secondary' %>
                  </center>
         <%#end%>

 -->