
<%= form_tag url_for(action: 'update'),method:'put', class:'form', multipart: true do%>
	<div class="container sans-head">
		<div>
			<label for="nom" class="mr-2 table">Titre </label>
			<input type="text" name="title" id="nom" placeholder="title" class="form-control" required="true" value="<%=@actu.title%>">
		</div>
	</div>

	<div class="container mb-2 mt-4">
		<span class="mr-2 table">Documents :</span>
		<%= file_field_tag :files, name: "files[]", multiple: true, class: 'toggleclass', id: :'document'  %>
		<span class="btn btn-secondary" id="simulateur">Ajouter des fichiers</span>
		<%for i in 0..@actu.files.length-1%>
			<span class="btn btn-secondary"><%= @actu.files[i].blob.filename%></span>
		<%end%>
	</div>		
	<div class="container mt-4">
		<input type="submit" name="cree" value="Publier" class="btn btn-bg-primary rounded-0 text-white btn-lg btn-block">
	</div>
<%end%>