<div class="container sans-head mb-5">
	<div class="mb-4 text-center">
		<h3 style="color: #52c39b">Toutes les actualités</h3>
	</div>
	<div class="row justify-content-center">
		<% @actus.each do |a|%>
			<div class="col-md-3 mb-2 card mx-1 position-relative">
				<div class="card-body">
			 	 	<div class="card-title table">
				    	<h6>Actualité <%= a.id %></h6>
				    </div>
					<div class="card-text">
						<p class="card-text text-muted mb-5 truncate-pub"><%= a.title %></p>
					</div>
				    <p class="mt-3 position-absolute more-info-pub"><a href="<%= super_admin_actu_path(a.id)%>" class="btn-forgot underline">Voir</a></p>
				</div>
			</div>
		<%end%>	
	</div>
	<div class="text-center">
		<%= paginate @actus %>
	</div>
</div>
