

<div class=" container d-flex flex-wrap sans-head">
			<% @actus.each do |p|%>
				<div class="col-sm-6 mb-3">
					<div class="card">
						<div class="card-body">
						<h5 class="card-title"><%= p.title %></h5>
						</div>
						<div class="card-body">
						<h5 > <a href="<%= super_admin_actu_path(p.id)%>"> VOIR</a></h5>		
						</div>
					</div>
				</div>
			<%end%>
	</div>