<div class="container sans-head" >
	<div class="titre">
		<h5 class="text-muted mt-3 mb-3 text-justify"><%=@actu.title%></h5>
    </div>
   <div>
		<div class="mt-3">
			<%if @actu.files.attached?%>
				<h6>Liste des documents associés :</h6>
				<ol class="ml-4">
					<%@actu.files.all.each do|file|%> 
						<li class="mb-3 mt-3"><%= link_to file.filename, rails_blob_path(file, disposition: "attachement"), class: "doc-relative ml-2" %></li>
					<%end%>
				</ol>
			<%end%>
		</div>
	 	<div class="text-left mt-4">
	      <a href="<%=  edit_super_admin_actu_path(@actu.id)%>" class="sc-eerKOB cfnPHQ bold sear" >Modifier</a>
	      <a href="<%= super_admin_actu_path(@actu.id)%>" class="btn btn-danger"  data-method="delete" data-confirm="Voulez-vous supprimer cette actualité ?"> Supprimer</a>
	    </div>
	</div>
</div>