<div class="container sans-head">
	<div class="row">
		<%@messages.each do |m|%>
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-body">
		       <label>Message :</label>
				<%= m.content%>
				<p>Envoyé le <%= m.created_at%> par 
					<a href="https://<%= m.sender.email%>" style="color: #52c39b;" target="_blank"><%= m.sender.email%></a>
				</p>
		      </div>
		    </div>
		  </div>
		<%end%>
	</div>
</div>