  <header class="aci59a-0 eyAIuG haute sticky-limit">
    <div class="sc-1gnwgfb-2 stom">
    </div>
       <div class="head-te"><marquee behavior="" direction="">La communauté internationale réaffirme son soutien aux pays les plus pauvres</marquee></div>
  </header>
  <div class="range-y-content mx-auto rounded" id="range-content">
    <div class="middle mx-auto mt-2 mb-4">
      <div class="multi-range-slider">
        <div class="p-3 text-center">
          Entre
        <output id="rangevalueleft">80</output><span> millions et </span>
        <output id="rangevalueright">320</output><span> millions de USD</span>
        </div>
        <input type="range" name="" id="input-left" min="0" max="400" step="80" value="80" onchange="rangevalueleft.value=value">
        <input type="range" name="" id="input-right" min="0" max="400" step="80" value="320" onchange="rangevalueright.value=value">
        <div class="slider">
          <div class="track"></div>
          <div class="range"></div>
          <div class="thumb left"></div>
          <div class="thumb right"></div>
        </div>
          <div class="d-flex mt-2 valeur">
            <span>0</span>
            <span>80</span>
            <span class="text-right pr-4">160</span>
            <span class="text-right pr-2">240</span>
            <span class="text-right">320</span>
            <span class="text-right">400</span>
          </div>
      </div>
    </div>
  </div>