<div class="sans-head">
	<div class="row justify-content-center w-100">
		<% @actus.each do |p|%>
			<div class="col-md-3 card mx-1 mb-2 position-relative">
				<div class="card-body">
					 	 	<div class="card-title">
						    <h5 class="primary-color"><%= p.title %></h5>
						    </div>
						<p class="mt-3 position-absolute more-info-pub"><a href="<%= actu_path(p.id)%>" class="btn-forgot underline">Voir</a></p>
				</div>
			</div>
      <%end%>
	</div>
</div>