

<div class=" container d-flex flex-wrap sans-head">
		<%if @actu%>
		<% @actu.each do |p|%>
				<div class="col-sm-6 mb-3 ">
					<div class="card">
						<div>
						 <p class="attr"><%= p.title %></p>
						</div>
						<div>
						<p> <a href="<%= actu_path(p.id)%>"> VOIR</a></p>		
						</div>
					</div>
				</div>
			<%end%>
		
		<%else%>
			<span>Pas d'actulités en ceux moment</span>
		<%end%>
	</div>