<div class="container sans-head">
	<div class="row justify-content-center">
		<% @pubs.each do |p|%>
			<div class="col-md-4 card mx-1 position-relative">
				<div class="card-body">
					 	 	<div class="card-title">
						    <h5 class="primary-color"><%= p.title %></h5>
						    </div>
						<div class="card-text">
							<p class="card-text text-muted mb-5 truncate-pub"><%= p.description %></p>
						</div>
						<p class="mt-3 position-absolute more-info-pub"><a href="<%= admin_publication_path(p.id)%>" class="btn-forgot underline">Voir</a></p>
				</div>
			</div>
      <%end%>
	</div>
</div>