
<%= form_tag url_for(action: 'create'),method:'post', class:'form', multipart: true do%>
	<div class="container sans-head border rounded p-4">
		<h5 class="text-center">Créer votre publication</h5>
		<div class="mb-2">
			<label for="nom" class="table">Titre </label>
			<input type="text" name="title" id="nom" placeholder="title" class="form-control" required="true">
		</div>
		<div class="mb-2">
			<label for="nom" class="table">Description </label>
			<textarea type="text" name="description" id="nom" placeholder="description" class="form-control p-2" rows="5" required="true"></textarea>
		</div>
			<div class="mb-2 mt-4">
				<%= file_field_tag :files, name:"files[]", required: true, multiple: true, id: :"document", class: 'toggleclass'%>
				<span class="btn btn-secondary" id="simulateur">Ajouter des fichiers liés au publication</span>
			</div>
		<div>
			<input type="submit" name="cree" value="Publier" class="btn btn-bg-primary rounded-0 text-white btn-lg btn-block mt-4">
		</div>
	</div>
<%end%>

