
<div class="container sans-head card">
	<h3>Liste des documents associés :</h3>
	<%if @pub.files.attached?%>
		<%@pub.files.all.each do|file|%> 
			<p><%= link_to file.filename, rails_blob_path(file, disposition: "attachement"), class: "attr" %></p>
		<%end%>
	
	<%end%>
	 <div class="text-right">
      <a href="<%=  edit_admin_publication_path(@pub.id)%>" class="sc-eerKOB cfnPHQ bold sear" >Modifier</a>
      <a href="<%= admin_publication_path(@pub.id)%>" class="btn btn-danger"  data-method="delete" data-confirm="Voulez-vous supprimer ce publication?"> supprimer</a>
   </div>
</div>
