// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.large{width: 9rem;}
.select{
    background: transparent url('/chev.png') no-repeat;
    background-position: 4.5rem center;
    border-style: none;
}
.reset{
    background: transparent;
    border-style: none;
}
.submit{
        margin-left: 60px;
}
.dropcust{
  top: -0.8rem !important;
}
.custom-range{width: 95% !important;}
.puce{list-style-image: url(/li.png);}