// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.large{width: 9rem;}
.select{
    background: transparent url('/chev.png') no-repeat;
    background-position: 4.5rem center;
    border-style: none;
    line-height: 5rem;
    z-index: 9999;
}
.reset{
    background: transparent;
    border-style: none;
}
.submit{
        margin-left: 60px;
}
.dropcust{
  top: -0.8rem !important;
}
.custom-range{width: 95% !important;}
.puce{list-style-image: url(/li.png);}
.place{
  top: -0.1rem;
  bottom: 0;
  right: -0.1rem;
  background-color: #52c39b;
  font-family: welcomeweb,sans-serif;
  font-size: 0.7rem;
}

.compteur{
  font-size: 1.2rem;
}
.compt-item{height: 100px;width: 300px;}
.compt-item:hover{box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;}
.centrage{line-height: 4rem; font-size: 2rem;}
.background{background-color: #52c39b;}
.text-color{color: #52c39b;background-color: #31333b;}
.multiselect{
	width: 200px;
}
.selectBox{
	position: relative;
}
.selectBox select{
	font-weight: bold;
}
.overSelect{
	position: absolute;
	left: 0; rigth: 0; top: 0; bottom: 0;
}
#checkboxes {
	display: none;
	border: 1px #dadada solid;
}
#checkboxes label:hover {
	 display: block;
}
#checkboxes label:hover {
	 background-color: #1e90ff;
}


#ptf_id {
  display: none;
  border: 1px #dadada solid;
}
#ptf_id label:hover {
   display: block;
}
#ptf_id label:hover {
   background-color: #1e90ff;
}



#filiere_id {
  display: none;
  border: 1px #dadada solid;
}
#filiere_id label:hover {
   display: block;
}
#fifliere_id label:hover {
   background-color: #1e90ff;
}


#zone_id {
  display: none;
  border: 1px #dadada solid;
}
#zone_id label:hover {
   display: block;
}
#zone_id label:hover {
   background-color: #1e90ff;
}

#appui_id {
  display: none;
  border: 1px #dadada solid;
}
#appui_id label:hover {
   display: block;
}
#appui_id label:hover {
   background-color: #1e90ff;
}

//compteur
.contentc{
    margin-top: 5%;
   box-shadow: 5px 6px 7px  #aaaaaa;
}
