// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pict {background-image: url('/secteur/accueil.jpg') !important;}
.large{width: 9rem;}
.select{
    background: transparent url('/chev.png') no-repeat;
    background-position: 4.5rem center;
    border-style: none;
}
.select-nature-forme{
    background: transparent url('/chev.png') no-repeat;
    background-position: 5.5rem center;
    border-style: none;
}
.reset{
    background: transparent;
    border-style: none;
}
.submit{
        margin-left: 60px;
}
.dropcust{
  top: -0.8rem !important;
}
.custom-range{width: 95% !important;}
.puce{list-style-image: url(/li.png);}
.place{
  top: -0.1rem;
  bottom: 0;
  right: -0.1rem;
  background-color: #52c39b;
  font-family: welcomeweb,sans-serif;
  font-size: 0.7rem;
}

.compteur{
  font-size: 1.2rem;
}
.compt-item{height: 100px;width: 300px;}
.compt-item:hover{box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;}
.centrage{line-height: 4rem; font-size: 2rem;}
.background{background-color: #52c39b;}
.text-color{color: #52c39b;background-color: #31333b;}
.multiselect{
	width: 200px;
}
.reset-search-input{background-color: transparent;border:none;width: 100%;}
.reset-search-input-default{background-color: transparent;border:none;}
.icon-search{cursor: pointer;}
.container-actu{width: 95%;}
