// Place all the styles related to the projets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.map{
    width: 310px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.map__img{
    width:20rem;
    position: relative;
}

.map__img path{
    fill: #52c39b;
    stroke: #fff;
    stroke-width: 2px;
    transition: fill 0.3s;
    
}

.map__img .is-active path {
    fill: #FF5A5F;
}


.map__list a{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
    width: 100%;
}

.map__list a.is-active {
    background: #FF5A5F;
}

.region{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
}
.region:hover{
    text-decoration: none;
    color: rgb(126, 118, 118);
    font-weight: bold;
}
.centre{
    text-align: center;
}
.rond{ background: #fff; width: 25px;height: 25px; border-radius: 12px; line-height: 25px;} .rond:hover{border: solid rgb(126, 118, 118) 2px;font-weight: normal;}

.r-1{display: none;}
.r-2{top:12rem; right:2.5rem;}
.r-3{bottom:14rem; right:7rem;}
.r-4{top:15.3rem; right: 5.8rem;} 
.r-5{top:9rem; right: 0.4rem;} 
.r-6{bottom:0.5rem; left:5rem;} 
.r-7{bottom:2rem; left:8.5rem;}
.r-8{bottom:7rem; left:-1rem;} 
.r-9{bottom:5.9rem; right: 5.6rem;} 
.r-10{top:17rem; right: 2rem;} 
.r-11{top:12.5rem; left:9rem;} 
.r-12{top:9rem; left:7.3rem;}
.r-13{top:16rem; left: 6rem;}
.r-14{top:0.5rem; right: 2.5rem;} 
.r-15{bottom:11.5rem; right: 8rem;} 
.r-16{bottom: 9rem; left:6rem;} 
.r-17{top:17.6rem; left:9rem;} 
.r-18{top:13rem; left:1.5rem;} 
.r-19{top:20rem; left:3rem;} 
.r-20{top:3rem; right:1.2rem;} 
.r-21{top:6rem; right:5.8rem;} 
.r-22{top: 19.8rem; left:7.5rem;} 
.r-23{bottom:13rem; right:3rem;} 
.h-font {font-size: 1.1rem;}

.filter p span{font-family: welcomeweb,welcomeweb,sans-serif; color: #52c39b;font-size: 0.9rem; text-transform: uppercase;}
.filter p{
    margin: 0;padding: 0;
}
.height{height: 30px;}
.result{
    background: white;
}   
.file{
    color: #52c39b;
    font-size: 3rem;
}
.paginate{
    color: #52c39b !important;
    border: #52c39b solid 1px !important;
}
.page-item.active .page-link{
    background-color: #52c39b !important;
    color: #fff !important;
}
.p-width{
    width: 95%;
}
.asi{position: absolute;}
.aside{position: relative;left: 17rem;} .aside p{margin: 0;}
.word{font-size: 1rem;}
.search, .show{display: block !important;}
.logo{margin-left: 6rem;position: relative;font-family: welcomeweb,welcomeweb,sans-serif;}
.pic{position: absolute; top: -8rem;left: 0rem;}
.imge-rep{width: 230px;height: 215px;background: #fff;margin: auto;}
.h-text{position: absolute;top: -7rem; left: 17rem;height: 7rem;} .h-text p, .list p {margin: 0px;}
.attr{font-size: 1.2rem; color: #52c39b;}
.show-cont{margin-top: 6rem;font-family: welcomeweb,welcomeweb,sans-serif;}
.objectif{width: 90%;}
.color{color: #52c39b;}
/*.btn-col{padding: 5px 0px;color: #52c39b !important;margin-bottom: 1rem; margin: 5px 0;}*/
.table{color: #52c39b !important;}

//Calendrier



.monthly-wrp {
  padding: 1em;
  top: 1803px !important;
  z-index: 1000;
  border-radius: 3px;
  background-color: #2C3E50;
}

.monthly-wrp:before {
  content: "";
  border-bottom: 6px solid #2C3E50;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: -6px;
  left: 6px;
  z-index: 1002;
}


.monthly-wrp .years {
  margin-bottom: 0.8em;
  text-align: center;
}

.monthly-wrp .years select {
  border: 0;
  border-radius: 3px;
  width: 100%;
}

.monthly-wrp .years select:focus {
  outline: none;
}

.monthly-wrp table {
  border-collapse: collapse;
  table-layout: fixed;
}

.monthly-wrp td {
  padding: 1px;
}

.monthly-wrp table button {
  width: 100%;
  border: none;
  background-color: #1ABC9C;
  color: #FFFFFF;
  font-size: 14px;
  padding: 0.6em;
  cursor: pointer;
  border-radius: 3px;
}

.monthly-wrp table button:hover {
  background-color: #16A085;
}

.monthly-wrp table button:focus {
  outline: none;
}
