 <section>
            <div class="container">
                <div id="carousel">
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.2&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j3f0" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.1&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j471" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.4&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j4f2" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.8&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j4m3" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.5&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j515" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.6&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j596" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.7&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j5h7" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.9&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j5o8" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.10&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j5u9" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.11&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j6610" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.12&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j6e11" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.13&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j6k12" alt=""></figure>
                    <figure><img src="https://mail.google.com/mail/u/1?ui=2&ik=dc7240996d&attid=0.14&permmsgid=msg-f:1658514872582598430&th=17043a7d4afcef1e&view=att&disp=safe&realattid=f_k6m57j6q13" alt=""></figure>
                </div>
            </div>
        </section>

<footer class="bt96d2-0 foCkmu">
  <div class="sc-11unfkk-2 fxFQyp">
    <div class="bt96d2-1 row knxWdP">
      <div class="bt96d2-2 cNrxHZ cust p-2 pt-4 col-md-4 bg-white rounded">
        <div class="wbg-w mx-auto">
          <a class="bt96d2-3" href="#">
            <%= image_tag "wbg.jpg"%>
          </a>
        </div>
        <div class="footer-img">
          <a class="bt96d2-3 bGIZa" href="#">
            <%= image_tag "mica.jpg"%>
          </a>
        </div>
      </div>
      <div class="bt96d2-2 cNrxHZ col-md-8 pt-3 pb-3">
        <h4 class="bt96d2-6 bGYjCP">
          <span id="apropos">A propos</span>
        </h4>
        <div class="bt96d2-7 fephAd">
          <p class="bt96d2-8 ghoRQb text-ligth">
            <span>
              Cette plateforme Multi-Bailleurs est destiné au Secteur Privé, à la Finance et à l’Industrie Extractive.
              Elle veille à la mise en œuvre des principes de l’efficacité de l’aide dans les secteurs concernés. 
              Elle a pour objectif de créer un environnement propice au développement du secteur privé, de la finance et de 
              l’industrie extractive grâce à une coordination et une cohérence accrue des interventions entre les partenaires 
              techniques et financiers, ainsi que les acteurs des secteurs public et privé.
            </span>
          </p>
          <p class="bt96d2-8 ghoRQb text-ligth">
            <span>
              La présidence est assurée conjointement par le Secrétariat Général du Ministère de l’Industrie, du Commerce et de l’Artisanat et 
              l’équipe Secteur Privé de la Banque Mondiale.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>