<footer class="bt96d2-0 foCkmu pt-2 pb-5">
  <div class="sc-11unfkk-2 fxFQyp">
    <div class="bt96d2-1 row knxWdP">
      <div class="bt96d2-2 cNrxHZ cust p-2 pt-4 col-md-4 bg-white rounded">
        <div class="wbg-w mx-auto">
          <a class="bt96d2-3" href="#">
            <%= image_tag "wbg.jpg"%>
          </a>
        </div>
        <div class="footer-img">
          <a class="bt96d2-3 bGIZa" href="#">
            <%= image_tag "mica.jpg"%>
          </a>
        </div>
      </div>
      <div class="bt96d2-2 cNrxHZ col-md-8 pt-3 pb-3">
        <h4 class="bt96d2-6 bGYjCP">
          <span id="apropos">A propos</span>
        </h4>
        <div class="bt96d2-7 fephAd">
          <p class="bt96d2-8 ghoRQb text-ligth">
            <span>
              Cette plateforme Multi-Bailleurs est destinée au Secteur Privé, à la Finance et à l’Industrie Extractive.
              Elle veille à la mise en œuvre des principes de l’efficacité de l’aide dans les secteurs concernés. 
              Elle a pour objectif de créer un environnement propice au développement du secteur privé, de la finance et de 
              l’industrie extractive grâce à une coordination et une cohérence accrue des interventions entre les partenaires 
              techniques et financiers, ainsi que les acteurs des secteurs public et privé.
            </span>
          </p>
          <p class="bt96d2-8 ghoRQb text-ligth">
            <span>
              La présidence est assurée conjointement par le Secrétariat Général du Ministère de l’Industrie, du Commerce et de l’Artisanat et 
              l’équipe Secteur Privé de la Banque Mondiale.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>