<footer class="bt96d2-0 foCkmu pt-2 pb-3 mt-4">
  <div class="sc-11unfkk-2 fxFQyp">
    <div class="bt96d2-1 row align-items-center knxWdP">
      <div class="bt96d2-2 cNrxHZ cust p-2 pt-4 col-md-4 bg-white rounded">
        <div class="wbg-w mx-auto">
          <a class="bt96d2-3" href="#">
            <%= image_tag "/wbg.jpg"%>
          </a>
        </div>
        <div class="footer-img">
          <a class="bt96d2-3 bGIZa" href="#">
            <%= image_tag "/mica.jpg"%>
          </a>
        </div>
      </div>
      <div class="bt96d2-2 cNrxHZ col-md-8 pt-3 pb-3">
        <h4 class="bt96d2-6 bGYjCP">
          <span id="apropos">À propos</span>
        </h4>
        <div class="bt96d2-7 fephAd">
          <p class="bt96d2-8 ghoRQb text-ligth">
            <span>
              La Plateforme Multi-Bailleurs pour le Secteur Privé, la Finance et l’Industrie Extractive est chargée,
              à un niveau technique, de la coordination des projets relatifs au développement du secteur privé,
              de la finance et de l’industrie extractive. La Plateforme veille également à la mise en œuvre des principes de l’efficacité de 
              l’aide dans les secteurs concernés.
            </span>
          </p>
          <p class="bt96d2-8 ghoRQb text-ligth">
            <span>
              La présidence est assurée conjointement par le Secrétariat Général du Ministère de l’Industrie, du
              Commerce et de l’Artisanat et l’équipe Secteur Privé de la Banque Mondiale.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<section>
  <div class="container">
    <div class="d-flex mb-5">
      <a href="#" class="image-c"><img src="logo/afd11.jpg" alt=""></a>
      <a href="#" class="image-c"><img src="logo/cnuced11.jpg" alt=""></a>
      <a href="#" class="image-c"><img src="logo/giz11.jpg" alt=""></a>
      <a href="#" class="image-c"><img src="logo/helvetas1.jpg" alt=""></a>
      <a href="#" class="image-c"><img src="logo/imf1.jpg" alt=""></a>
      <a href="#" class="image-c"><img src="logo/jica1.png" alt=""></a>
      <a href="#" class="image-c"><img src="logo/onudi1.jpg" alt=""></a>
      <a href="#" class="image-c"><img src="logo/pnud1.jpg" alt=""></a>
      <a href="#" class="image-c"><img src="logo/ue1.jpg" alt=""></a>
      <a href="#" class="image-c"><img src="logo/unicef1.jpg" alt=""></a>
      <a href="#" class="image-c"><img src="logo/USAID1.jpg" alt=""></a>
    </div>
  </div>
</section>