<!DOCTYPE html>
<html>
  <head>
    <title>Worldbank</title>
    <meta charset='utf-8' />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body class="body">
    <%= yield %>
  </body>
  </html>

