<div class="text-justify sans-head container" id="too" >
	<p>
    	La Plateforme Multi-Bailleurs pour le Secteur Privé, la Finance et l’Industrie Extractive est chargée, à un niveau technique, de la coordination des projets relatifs au développement du secteur privé, de la finance et de l’industrie extractive. La Plateforme veille également à la mise en œuvre des principes de l’efficacité de l’aide dans les secteurs concernés.
    </p><br>
    <p>La plateforme permet de :</p><br>
    <p>
	    <ul class="ml-4">
	        <li class="mb-2 puce">Améliorer la coordination des interventions des PTF grâce au suivi et à la diffusion de l’information, ainsi que l’accès rapide des principales parties prenantes à l’information pertinente ;</li>
	        <li  class="mb-2 puce">Améliorer l'efficacité et la qualité de la prise de décision dans le développement des secteurs concernés en mettant à disposition une expertise de qualité ;</li>
	        <li class="mb-2 puce">
	        Assurer un meilleur alignement des PTF aux politiques nationales notamment au Plan Emergence Madagascar.
	        </li>
	       </ul>  	
    </p><br>
    <p>
       	L’objectif général est de créer un environnement propice au développement du secteur privé, de la finance et de l’industrie extractive grâce à une coordination et une cohérence accrue des interventions entre les partenaires techniques et financiers, ainsi que les acteurs des secteurs public et privé.
    </p><br>
    <p>
    	La plateforme est présidée par deux chefs de file : un partenaire technique et financier et le Secrétaire Général du Ministère de l’Industrie, du Commerce et de l’Artisanat (SG MICA). Le Groupe de la Banque Mondiale, a été désigné comme chef de file depuis fin 2015. Elle regroupe le SG MICA et les bailleurs opérant dans les secteurs et thèmes concernés.
    </p><br>
    <p>
    	Chaque mois, la Plateforme fait part des faits saillants émanant de ses réunions au <i>groupe de dialogue stratégique (GDS)</i> qui arrête la stratégie nationale pour l’efficacité de l’aide et veille à son application. Ce groupe, co-présidé par le premier ministre et le coordinateur résident du système des Nations Unies, réunit autour d’eux, d’une part, les départements ministériels chargés des questions transversales du développement, et d’autre part les ambassadeurs et chefs d’agence et de coopération. Le secrétariat de ce groupe est assuré conjointement par la primature (STP-CA) et le PNUD (spécialiste en coordination de l’aide).
    </p><br>
    <p>
    	Lien utile: <a href="https://www.amp-madagascar.gov.mg ">www.amp-madagascar.gov.mg</a>
    </p><br>
    <p>
    	<%= image_tag('/apropos.jpg')%>
    </p>
</div>



